dokumenti/obavestenje.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ftn.uns.ac.rs/xpath/examples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obavestenje">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="URI">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:byte">
                <xs:attribute type="xs:QName" name="datatype"/>
                <xs:attribute type="xs:QName" name="property"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="zahtev_uri">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:byte">
                <xs:attribute type="xs:QName" name="datatype"/>
                <xs:attribute type="xs:QName" name="property"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="podnosilac_zahteva">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="naziv_podnosioca">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ime"/>
                    <xs:element type="xs:string" name="prezime"/>
                    <xs:element type="xs:string" name="naziv_firme"/>
                    <xs:element name="korisnicko_ime">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:QName" name="datatype"/>
                            <xs:attribute type="xs:QName" name="property"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="adresa">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ulica"/>
                    <xs:element type="xs:byte" name="broj"/>
                    <xs:element type="xs:string" name="grad"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="organ_vlasti">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="naziv_organa_vlasti">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:QName" name="datatype"/>
                      <xs:attribute type="xs:QName" name="property"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="sediste_organa"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dostavljeno">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="lista">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="broj" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tekst_obavestenja">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="broj_predmeta">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte">
                      <xs:attribute type="xs:QName" name="datatype"/>
                      <xs:attribute type="xs:QName" name="property"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="datum">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:QName" name="datatype"/>
                      <xs:attribute type="xs:QName" name="property"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="naslov"/>
              <xs:element name="p" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:float" name="godina" minOccurs="0"/>
                    <xs:element type="xs:string" name="trazena_informacija" minOccurs="0"/>
                    <xs:element type="xs:float" name="dan" minOccurs="0"/>
                    <xs:element type="xs:string" name="sati" minOccurs="0"/>
                    <xs:element type="xs:string" name="od" minOccurs="0"/>
                    <xs:element type="xs:string" name="do" minOccurs="0"/>
                    <xs:element type="xs:string" name="mesto" minOccurs="0"/>
                    <xs:element type="xs:string" name="ulica" minOccurs="0"/>
                    <xs:element type="xs:byte" name="broj_zgrade" minOccurs="0"/>
                    <xs:element type="xs:byte" name="broj_kancelarije" minOccurs="0"/>
                    <xs:element type="xs:float" name="novcana_naknada" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="mesto_pecata"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>