dokumenti/zahtev.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ftn.uns.ac.rs/xpath/examples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="zahtev">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="URI">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:byte">
                <xs:attribute type="xs:QName" name="datatype"/>
                <xs:attribute type="xs:QName" name="property"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="podnosilac_zahteva">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="naziv_podnosioca">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ime"/>
                    <xs:element type="xs:string" name="prezime"/>
                    <xs:element type="xs:string" name="naziv_firme"/>
                    <xs:element name="korisnicko_ime">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:QName" name="datatype"/>
                            <xs:attribute type="xs:QName" name="property"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="adresa">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ulica"/>
                    <xs:element type="xs:byte" name="broj"/>
                    <xs:element type="xs:string" name="grad"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="drugi_podaci_za_kontakt"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="organ_vlasti">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="naziv_organa_vlasti">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:QName" name="datatype"/>
                      <xs:attribute type="xs:QName" name="property"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="sediste_organa"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="tekst_zahteva">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="naslov"/>
              <xs:element name="p" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="izbori" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="izbor">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="broj"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="trazene_informacije"/>
              <xs:element name="podaci_o_vremenu_i_mestu_podnosenja_zahteva">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="mesto"/>
                    <xs:element name="datum">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:QName" name="datatype"/>
                            <xs:attribute type="xs:QName" name="property"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="fusnote">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fusnota" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="broj" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>